<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            {% if not current_user %}
                                <a href="{{ url_for('auth.login', token=token) }}" class="navbar-item">
                                    Login
                                </a>
                            {% else %}
                                <div style="line-height: 3.5em">{{current_user.name}}</div>
                                <a href="{{ url_for('auth.logout', token=token) }}" class="navbar-item">
                                    Logout
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>
