<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/delete_modal.js') }}"></script>
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu is-active">
                        <div class="start">
                            {% if current_user %}
                                <a href="{{ url_for('products.list') }}" class="navbar-item navbar-text">
                                    Products
                                </a>
                            {% endif %}
                        </div>
                        <div class="navbar-end">
                            {% if not current_user and token  %}
                                <a href="{{ url_for('auth.login', token=token) }}" class="navbar-item navbar-text">
                                    Login
                                </a>
                            {% elif current_user %}
                                <div class="navbar-item navbar-text">{{current_user.name}}</div>
                                <a href="{{url_for('auth.logout', token=token) if token else url_for('auth.logout_without_token')}}" class="navbar-item navbar-text">
                                    Logout
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>
